[Desktop Entry]
Encoding=UTF-8
Name=add-start
Comment=
Exec=add-start
Icon=gnome-settings-default-applications
Terminal=false
Type=Application
Categories=Settings;
NoDisplay=True
