Source: add-start-antix
Section: system
Priority: optional
Maintainer: anticapitalista <antix@operamail.com>
Build-Depends: debhelper (>= 9.20120115)
Standards-Version: 3.9.4
Homepage: http://antix.mepis.org

Package: add-start-antix
Architecture: all
Depends: yad 
Description: Set up autostart apps for window mangers in antiX.
